

/** colors */

$black: #000;
$alabaster: #f9f9f9;
$white: #ffffff;
$gallery: #ececec;
$alto: #D4D4D4;
$silverchalice: #b2b2b2;
$regentgray: #8994A0;
$mystic: #dfe5ea;


$deluge: #7762A7;
$mountainmeadow: #19B699;
$fiord: #3D556D;
$burntsienna: #EA6053;
$shakespeare: #67B0D6;
$cucumber: #84B262;

$froly: #F6846A;

/** social colors */

$linkedin-blue: #1E87BE;
$viadeo-grey: #4E4E4E;
$gmail-red: #D54937;
$xing-green: #006567;
$git-brown: #362701;
$skype-blue: #2aa1d3;
