.about {
  .page-close {
    &:before, &:after {
      background-color: $mountainmeadow;
    }
  }
  .page-header {
    color: $mountainmeadow;
    @include transition(color 0s 2s);
  }
}

.about-photo {
  float: left;
  max-width: 50%;
  height: auto;
  margin: 0 1.5rem 1rem 0;
}

.contacts {
  @include clearfix;
}

.contacts-social {
  float: left;
  margin-bottom: 1.5rem;
  @extend %reset-list;
  li {
    display: inline-block;
    margin-right: 1rem;
  }
  .social-link {
    display: block;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    text-align: center;
    font-size: 1.6rem;
    line-height: 3rem;
    overflow: hidden;
    color: $white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    @include transition(all .2s ease);

    &:hover {
      box-shadow: 0 3px 5px rgba(0, 0, 0, .7);
      @include transform(scale(1.1));
    }

    &.xing {
      background-color: $xing-green;
    }
    &.angellist {
      color: $black;
      border: 1px solid $black;
    }

    &.github {
      background-color: $git-brown;
    }

    &.viadeo {
      background-color: $viadeo-grey;
    }

    &.linkedin {
      background-color: $linkedin-blue;
    }
  }
}

.contacts-personal {
  @extend %reset-list;
  float: none;
  clear: left;
  text-align: left;

  @include breakpoint(medium) {
    float: right;
    clear: none;
    text-align: right;
  }
  .personal-link {
    color: $regentgray;
    text-decoration: none;
    i {
      margin-right: .5rem;
    }
    &.gmail i {
      color: $gmail-red;
      font-size: 1.2rem;
    }
    &.skype i {
      color: $skype-blue;
      margin-right: 0;
    }
  }
}
